@model Bazi_demo.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransmissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransmissionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDoors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberDoors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRented)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VIN">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
