@model IEnumerable<Bazi_demo.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransmissionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDoors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRented)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransmissionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDoors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRented)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VIN">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VIN">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VIN">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
